* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*This removes default browser margins and sets a clean foundation.
*/

header {
    position: sticky; /* Nav bar will stick to the header */
    top: 0;
    z-index: 100;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #515680;
    line-height: 1.6;
    padding: 20px;
    position: relative;
}

/*Style the Navbar using Flexbox*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgb(79, 91, 156);
    border-radius: 10px;
    border-color:rgb(26, 43, 135);
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px; /*line gap*/
}

.nav-links{
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration:none;
    color: #333;
    font-weight: bold;
}

/*Hero Section*/
.hero {
    padding: 80px 0;
    text-align: center;
    background: linear-gradient(135deg, #a78bfa, #6366f1);
    color: white;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 10px;
    position: relative;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p{
    font-size: 40px;
}

.hero-btn {
    direction: flex;
    background-color: #515680;
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    right: 50px;
    top: 10px;
}

/*Style section*/

section{
    padding: 40px 0;
    
}

section h2{
    margin-bottom: 20px;
    font-size: 20px;
}

/*Project section*/
#projects {
    margin-top: 40px;  
}

.project_header h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.project_grid {
    display: grid;
    grid-template-columns: 1fr 3fr;  /* 2 columns */
    gap: 3px;                        /* visible grid lines */
    background: rgb(77, 85, 199);  /* grid line color */
    padding: 5px;
    align-items: stretch;
}

.project_item {
    display: contents;  /* Let inner elements act as grid items */
}

.project_grid h3,
.project_grid p {
    margin: 0;
    background: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 75%;
}

.project_item:hover{
    transform: scale(1.05);
}

.project_item h3{
    margin-bottom: 10px;
    font-size: 22px;
}