            *{
                margin:0;
                padding:0;
                box-sizing: border-box;
            }

            img, picture, video, canvas, svg {
                max-width: 100%;
                display: block;
            }

            body{
                font: 100;
                font-family:'Courier New', Courier, monospace;
                line-height: 2;
                
            }

            header{
                justify-items: center;
                background: black;
                top:0;
                
            }

            .header_section{
                color:white;
                text-align: center;
                
            }

            .navbar{
                display:flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                padding-top: 5px;
                border-color: rgb(231, 225, 225);
                flex-direction: row;
                border-width: 1px;
                border-style:ridge
            }

            .nav_items{
                display: flex;
                padding:10px;
                gap: 10px;
                align-items: center;
            }
            .nav_images{
                height: 30px;
                width: 30px;
                align-items: center;
            }

            .nav_paragraph{
                padding-right: 30px;
            }
            
            .main_body{
                padding-right:20px;
                padding-left: 20px;
                display:flex;
                flex-direction: row;
                gap: 20px;
                padding-top: 10px;
            }
            /* Product Type Navbar*/

            .product_type{
                display:flex;
                justify-content: center;
                gap: 17px;
                position:relative;
            }

            .product_type_item{
                display:flex;
                flex-direction: row;
                align-items:center;
                gap: 17px;
                list-style:none;
            }

            select{
                position:absolute;
                top:10px;
                
            }

            .product_type_item_p{
                padding:5px;
                font-size:16px;
                font-weight: 300;
            }

            /* MEN HOVER SUBLIST MENU */
            .product_men{
                display: flex;
                flex-direction: row;
                list-style: none;
                align-items: center;
                position: relative;
                gap:3px;
            }


            .arrow_hover{
                height:17px;
                width: 17px;
                position:relative;
            }
            
            .product_men:hover .arrow2{
                opacity: 1;
                visibility: visible;
                
            }

            .product_men:hover .arrow1{
                transform: rotate(180deg);
            }

            .arrow2{
                position: absolute;
                top: 0;
                opacity:0;
                visibility: hidden;
                transition: 0.3s;
            }

            .arrow2 svg{
                width: 24px;
            }
            
            .product_men:hover ul.p_submenu_list{
                list-style: none;
                position: absolute;
                width: 150px;
                top:100%;
                left:0;
                background-color: rgb(158, 158, 180);
                opacity: 1;
                visibility:visible;
                transition: 0.6s;
            }
            .product_men a:link, .product_men a:visited{
                color: black;
                text-decoration: none;
                visibility: none;
            }


            .product_man:hover a:link, .product_men:hover a:link{
                color:grey;
                text-decoration: none;
                visibility:none;
            }

            .p_submenu_list{
                list-style: none;
                position: absolute;
                width: 150px;
                top:100%;
                left:0;
    opacity: 0;
    visibility: none;
    transition: 0.3s;
}

/*sidebar*/
.info_sidebar{
    display:flex;
    flex-direction: column;
    background-color: aquamarine;
    width:20%;
    border-style: dashed;
    border-width: 2px;
    border-color:gray;
    height: 30vh;
    align-self: auto;                
}
.info_type{
    background-color: azure;
    border-style:dashed;
    border-width:2px;
    border-color:black;
    padding-left: 5px;
    height:33.33%;
}


/*product*/
.product_list{
    background-color: rgb(10, 191, 182);
    display: flex;
    width:80%;
    height: 70vh;
    align-self: auto;
    flex-direction: column;
}

.product_header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
}
.product_header_items{
    width:auto;
}

/* Grid Images */

.image_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
    padding: 10%;
    background: #abcdef;
    gap:30px;
    
}

.image_items{
    position: relative;
    overflow:hidden;
}

.image_items:hover img{
    transform: scale(1.1);
    transition: 0.5s;
    object-fit: contain;
}

.image_header_button{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);   
    background: transparent;
    text-align: center;
    
}

.image_header_button:hover .image_HB_Scaling{ 
    transform: scale(1.15);
    transition: 0.5s;
}

/* Shopping Cart Section */

.shopping_cart_container{
    background: dimgray;
    padding: 40px;
}

/* 1. Cart Header*/
.shopping_cart_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    border-width: 1px;
    padding: 10px;
    border-color:grey;
    background-color: #dddd;
    text-align: justify;
    font-size: 19px;
}



/* 2. Cart image, price, item name, button */
.shopping_cart_main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border:solid;
    border-width:1px;
    font-size: 13px;
}

.shopping_price{
    display:flex;
    flex-direction: column;
    text-align: right;
}

.cart_image_name_button {
    background-color: azure;
    display: flex;
    gap: 5px;
    padding: 5px;
    align-items: center;
}

.cart_image_name_button img {
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 72px;
    position: relative;
}

.cart_name_stock_button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart_name_stock{
    display:flex;
    flex-direction: column;
    justify-content: flex-start ;
}

.add_num_del{
    display: flex;
    border: 1.5px solid;
    width: 15vw;
    justify-content: space-between;
    border-radius: 7px;
    overflow: hidden;
}


.add_num_del_button{
    flex-grow:1;
    display: flex;
    justify-content: center;
}

.add_num_del_button svg{
    height: 15px;
    width: 15px;
    align-items: center;
    flex:1;
}

.add_num_del_button:hover svg{
    background-color: #ddd;
    transition: 0.3s;
}

.add_num_del_button_num{
    flex-grow:1;
    display: flex;
    justify-content: center;
    border-left: 1px solid;
    border-right: 1px solid;
}

.add_num_del_button button{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Shopping Cart Footer */
.shopping_cart_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding-left:10px;
    padding-right: 10px;  
    border:1px solid;
    border-top:0px solid;
}

.shopping_cart_footer h3, p{
    font-size: 15px;
    font-weight: 400;
}


.shopping_cart_footer button{
    border-radius: 40px;
    color: white;
    background: black;
    border: 1px;
    width: 209px;
    height: 44px;
    font-size:16px; 
    cursor: pointer;
}
