@media screen  and (max-width: 767px) {
    .container{
        width: 425px;
    }

    .container_2{
        width: 425px;
    }
    /* Header Section */
    .header_section{
        padding: 13px 10px;
    }

    .search_drop{
        display: none;
    }

    .register{
        display: none;
    }

    .menu_mobile{
        display:flex;
    }

    .menu_mobile svg{
        width: 30px;
    }
    .social_register_login{
        width: auto;
    }
    .social_register_login button{
        width: auto;
    }

    /* Navbar Section */
    
    .navbar_main{
        padding: 15px 0px;
    }

    .navbar_main ul{
        display: none;
    }
    .number_email{
        flex-direction: column;
        gap: 0px;
    }
    .contact{
        gap: 75px;
        padding: 0px 5px;
        width: 100%;
    }

    .store_menu_icon svg{
        width: 30px;
        height: auto;
    }
    
    /* Hero Section */
    .hero_section{
        flex-direction: column;
        padding: 10px 10px;
        
    }

    .shape-3{
        display:none;
    }
    .hero_content{
        width: auto;
        height: auto;
    }

    .hero_content img{
        display: none;
    }

    .hero_content h1{
        font-size: 35px;
    }

    .hero_content p{
        font-size: 15px;
        color: grey;
    }

    .hero_content button{
        padding-left: 26px;
        padding-right: 50px;
        font-size: 15px;
    }

    .roundshape{
        width: 300px;
        height: 300px;
    }
    .image img{
        width: 300px;
        height: auto;
    }

    /* Media Section */

    .media_class{
        flex-direction: column-reverse;
        padding: 30px 10px;
    }

    .media_container{
        flex-direction: column;
    }

    .main-image{
        width: 403px;
        height: auto;
    }

    .shapes{
        display: none;
    }

    .abstract-element{
        display: none;
    }
    .course-header-button{
        flex-direction: column;
        gap: 10px;
    }

    .media_class .enrollment_box{
        bottom: 52px;
        left: 10px;
    }

    .media_container{
        padding:50px 10px;
    }

    .course-header-button{
        align-items: flex-start;
    }

    .media_grid{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    

    /* Online Courses */
    .online_courses_grid{
        grid-template-columns: repeat(1,1fr);
        padding: 0px 15px;
    }

    .choose_us{
        flex-direction: column;
        padding: 50px 0px;
    }
    .info_box{
        flex-direction: column;
    }
    .footer{
        grid-template-columns: repeat(1,1fr);
    }

    .choose_image img{
        width: 400px;
        height: auto;
    }

    .shape img{
        width:70px;
        height: 70px;
    }

    .alt-shape-7{
        display: none;
    }

/* Info Box */

.info_box{
    gap: 10px;
    margin-top: 0px;
}

.shape-12{
    display: none;
}

.shape-11{
    display: none;
}
.info_image img{
    width: 370px;
    height: auto;
}

.enrollment_grid{
    padding: 0px 5px;
    width: 100%;

}

.enrollment-card{
    padding: 0px;
}

.footer{
    padding: 50px 10px;
}
