/* BOILERPLATE CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
     font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.container{
    width: 1465px;
    margin:0 auto;
}



/* Header Section */

header{
    background-image: url("Task_3/hero-bg.png");
}
/* 1. Logo, Search, select, social media, signup, login */

/* Header Container */
.header_section{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    
    padding-left: 70px;
    padding-right: 70px;

    padding-top: 13px;
    padding-bottom: 13px;

    align-items: center;

}

.search_drop{
    display: flex;
    justify-content: space-between;
    
    background-color: #fff;
    gap: 10px;
    align-items: center;
    width:800px;
    height: 56px;
    border-radius: 40px;
    border: 1px solid rgb(195, 194, 194);
    padding-left: 10px;
}

.dropdown{
    width:20%;
    display: flex;
    position: relative;
}


.options{
    display: flex;
    position: relative;
    
    
}


.options ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:41px;
    right:-9px;
    color: grey;
    list-style:none;
    background-color: #fff;
    padding: 3px;
    border-color:transparent;
    z-index: 2;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2.3;

    /* Animation */
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}


.options ul li:hover{
    background-color: #543ee8;
    transition: 0.3s;
    color: white;
}

.dropdown:hover .options ul{
    opacity:1;
    visibility: visible;
    transition: 0.3s;
}
.dropdown svg{
    color:black;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 4px;
    right:10px;
}



.dropdown:hover svg{
    transform: rotate(180deg);
    transition: 0.3s;
}

.dropdown p{
    color:black;
    padding-left:10px;
    height:100%;
    align-items: center;
}

.search{
    display: flex;
    position: relative;
    align-items: center;
    width: 80%;
    height: 75%;
    padding-right: 10px;
}

.search button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 105%;
    right: 3px;
    border-radius: 40px;
    width:20%;
    background-color: #543ee8;
    font-size: 15px;
    color: white;
    border:none;
    
}

.search button:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
}
.search button svg{
    width: 15px;
    height: 15px;
    color: white;
}
.search #search_bar{
    width:95%;
    border: none;
    height:100%;
    border-left:2px solid grey;
    padding-left: 10px;
}

.social_register{
    display: flex;
    justify-content: center;
}

.social_register_login{
    display: flex;
    gap: 20px;
    width: 15%;
}

.social_register_login button{
    padding:15px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 15px;
    width: 70%;
    border: none;
}

.social_register_login button:hover{
    color:white;
    background-color: black;
    transition: 0.4s;
}

.register{
    background-color: #ffcd20;
}

.login{
    background-color: #fff;
}
/* Navbar Section */
.container_2{
    width: 1500px;
    margin:0 auto;
}

.navbar_main{
    display:flex;
    background-color: white;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: space-between;
}

.navbar_main ul{
    display:flex;
    list-style:none;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;;  
}

/* Hovering Anywhere Near the home keeps the content box open */
.navbar_main li:hover .content_box{
    opacity:1;
    visibility: visible;
}

.content_icon{
    display: flex;
    color: black;
    align-items: center;
    gap: 10px;
    position: relative ;

}

.content_icon svg{
    width: 15px;
    height: 15px;    
}

.content_box{
    display: flex;
    flex-direction: column;
    color: black;
    position: absolute;
    border-top: 3px solid;
    background:#fff;
    border-radius: 10px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    justify-content: flex-start;

    top: 130%;
    left: 0;
    width: 135px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.content_icon:hover .content_box{
    opacity:1;
    visibility: visible;
    
}

.content_box p{
    padding: 5px;
    border-top: 1px solid;
    border-color: grey;
}

.content_box p:hover{
    background-color: #543ee8;
    color: white;
    transition: 0.3s;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.store_menu_icon{
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
}
.store_menu_icon svg{
    width: 20px;
    height: 20px;
}

/* Hero Section */
.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color:black;
    padding: 10px 50px 10px 50px;
    
}

.hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    width: 50%;
    position:relative;
}
.hero_content h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.hero_content p{
    font-size: 20px;
    margin-bottom: 40px;
}

.hero_content button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #543ee8;
    position: relative;
    color:white;
}

.roundshape{
    width: 500px;
    height: 500px;
    border-radius:50%;
    position: relative;
}


.arrow{
    display: flex;
    justify-content: center;
    background-color: white;
    color: #543ee8;
    border-radius: 50%;
    position:absolute;
    top: 10px;
    right:10px;
}

.arrow svg{
    width: 30px;
    height: 30px;
}

.image{
    position: relative;;
}
.roundshape{
    display:flex;
    width: 650px;
    height: 650px;
    border-radius:50%;
    position: absolute;
    background: linear-gradient(180deg, #fff 0%, #d7e1d8 100%);
    z-index: 1;
    top:98px;
    left:30px;
    overflow:hidden;
}

.image img{
    position: relative;
    z-index: 2;
}

/* Media Section */
.media_section{
    background: url(Task_3/section-bg-1.png);
}

.media_class{
    display:flex;
    padding-top:100px;
    padding-bottom:100px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 80px;
    position:relative;
}

.media_class img{
    width: 482px;
    height: 486px;
    border-radius: 10px 10px 90px 10px;
}

.enrollment_box{
    display: flex;
    position: absolute;
    align-items: center;
    gap: 30px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    bottom: 207px;
    left: 167px;
    color:rgb(232, 73, 73);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:rgb(247, 198, 198);
    width: 50px;
    height:50px;
}

.icon svg{
    color:red;
}
.enrollment_box svg{
    width: 30px;
    height: 30px;
}
.media_text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.media_text ul{
    list-style: none;
}

/* Course Header Button */
.course-header-button{
    display: flex;
    padding:10px;
    align-items: center;
    justify-content: space-between;
}

.course-header-button button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #543ee8;
    position: relative;
    color:white;
}