/* ============================
   CSS BOILERPLATE
============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* ============================
   HEADER SECTION
============================ */

/* 1. Main Navbar */
.main_navbar {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    border: 1px solid;
}

/* 1a. Upper Navbar */
.upper_navbar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    flex: 1;
    justify-content: space-between;
}

.header_text {
    display: flex;
    flex-direction: column;
}

.location svg {
    height: 30px;
    width: 30px;
}

.upper_navbar .location,
.mail,
.nav_contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.logo img {
    width: auto;
    height: 49px;
}

.mail_contact_button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav_contact button {
    background-color: #1039AD;
    color: white;
    border-radius: 10px;
    width: 118px;
    height: 47px;
    font-size: 16px;
}

/* 1b. Lower Navbar */
.lower_navbar {
    align-items: center;
    background-color: #1039AD;
    color: white;
    padding: 26px;
    margin-top: -44px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 51vw;
    position: relative;
    z-index: 5;
}

.lower_navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex: 1;
    gap: 50px;
}

header section {
    width: full;
}

/* Hero Section */
.hero {
    background-image: url("Task_2/T2_cute_housewife_cleaning_kitchen_trans.png");
    width: auto;
    height: 100vh;
    background-color: #455582;
    margin-top: -34px;
    display: flex;
    justify-content: center;
    padding:60px;
    align-items: center;
    gap: 63px;
}

/* Text_button */
.text_button{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40vw;
    height: auto;
}

.text_button h1{
    font-size: 50px;
    font-weight: 500;
}


.button_desc{
    display: flex;
    align-items: center;
    gap:20px;
    margin-top: 10px;
    background: none;
}

.button_desc svg{
    height: 40px;
    width: 40px;
    border-radius: 65%;
    background-color: #455582;
    ;
}

.button_desc button{
    height: 60px;
    width: 60px;
    border: 1px solid;
    border-radius: 65%;
    background-color: #455582;
    cursor: pointer;
}


/* Registration Form */
.registration_form{
    width: 23vw;
    height: auto;
    background-color: #dddd;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registration_form h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.registration_form input[type=text]{
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registration_form .bedroom_bathroom{
    display: flex;
    justify-content: space-between;
    padding-bottom:20px;
}

.bedroom_bathroom select{
    width: 9vw;
    height: 5vh;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: rgb(91, 89, 89);
    font-weight: 100;
    padding-left: 10px;
}

.icon_form{
    display: flex;
    gap: 10px;
}

.registration_button{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.registration_button button{
    width: 16vw;
    height: 4vh;
    border: 1px solid #455582;
    background-color: #1039AD;
    color: white;
    font-weight: 400;
    font-size: medium;
    border-radius: 5px;
}

/* About Us */

.about_us{
    display:flex;
    width: full;
    background-color: white;
}

.about_us_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.about_us_description p{
    font-size: 19px;
    color: rgb(107, 52, 107);
    padding-left:6px;
}

.about_us_description h1{
    font-size: 60px;
}