/* BOILERPLATE CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
     font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.container{
    width: 1465px;
    margin:0 auto;
}



/* Header Section */

header{
    background-image: url("Task_3/hero-bg.png");
}
/* 1. Logo, Search, select, social media, signup, login */

/* Header Container */
.header_section{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    
    padding-left: 70px;
    padding-right: 70px;

    padding-top: 13px;
    padding-bottom: 13px;

    align-items: center;

}

.search_drop{
    display: flex;
    justify-content: space-between;
    
    background-color: #fff;
    gap: 10px;
    align-items: center;
    width:800px;
    height: 56px;
    border-radius: 40px;
    border: 1px solid rgb(195, 194, 194);
    padding-left: 10px;
}

.dropdown{
    width:20%;
    display: flex;
    position: relative;
}


.options{
    display: flex;
    position: relative;    
}


.options ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:41px;
    right:-9px;
    color: grey;
    list-style:none;
    background-color: #fff;
    padding: 3px;
    border-color:transparent;
    z-index: 2;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2.3;

    /* Animation */
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}


.options ul li:hover{
    background-color: #543ee8;
    transition: 0.3s;
    color: white;
}

.dropdown:hover .options ul{
    opacity:1;
    visibility: visible;
    transition: 0.3s;
}
.dropdown svg{
    color:black;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 4px;
    right:10px;
}



.dropdown:hover svg{
    transform: rotate(180deg);
    transition: 0.3s;
}

.dropdown p{
    color:black;
    padding-left:10px;
    height:100%;
    align-items: center;
}

.search{
    display: flex;
    position: relative;
    align-items: center;
    width: 80%;
    height: 75%;
    padding-right: 10px;
}

.search button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 105%;
    right: 3px;
    border-radius: 40px;
    width:20%;
    background-color: #543ee8;
    font-size: 15px;
    color: white;
    border:none;
    
}

.search button:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
}
.search button svg{
    width: 15px;
    height: 15px;
    color: white;
}
.search #search_bar{
    width:95%;
    border: none;
    height:100%;
    border-left:2px solid grey;
    padding-left: 10px;
}

.social_register{
    display: flex;
    justify-content: center;
}

.social_register_login{
    display: flex;
    gap: 20px;
    width: 15%;
    align-items: center;
}

.social_register_login button{
    padding:15px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 15px;
    width: 70%;
    border: none;
}

.social_register_login button:hover{
    color:white;
    background-color: black;
    transition: 0.4s;
}

.register{
    background-color: #ffcd20;
}

.login{
    background-color: #fff;
}

.menu_mobile{
    display: none;
}
/* Navbar Section */
.container_2{
    width: 1500px;
    margin:0 auto;
}

.navbar_main{
    display:flex;
    background-color: white;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;;
}

.navbar_main ul{
    display:flex;
    list-style:none;
    gap: 30px;
      
}

/* Hovering Anywhere Near the home keeps the content box open */
.navbar_main li:hover .content_box{
    opacity:1;
    visibility: visible;
}

.content_icon{
    display: flex;
    color: black;
    align-items: center;
    gap: 10px;
    position: relative ;

}

.content_icon svg{
    width: 15px;
    height: 15px;    
}

.content_box{
    display: flex;
    flex-direction: column;
    color: black;
    position: absolute;
    border-top: 3px solid;
    background:#fff;
    border-radius: 10px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    justify-content: flex-start;

    top: 130%;
    left: 0;
    width: 135px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.content_icon:hover .content_box{
    opacity:1;
    visibility: visible;
    
}

.content_box p{
    padding: 5px;
    border-top: 1px solid;
    border-color: grey;
}

.content_box p:hover{
    background-color: #543ee8;
    color: white;
    transition: 0.3s;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.number_email{
    display:flex;
    gap: 5px;
}

.store_menu_icon{
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
}
.store_menu_icon svg{
    width: 20px;
    height: 20px;
}

/* Hero Section */
.hero_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color:black;
    padding: 10px 50px 10px 50px;
    overflow: hidden;
    
}

.hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    width: 45%;
    position:relative;
}
.hero_content h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.hero_content p{
    font-size: 20px;
    margin-bottom: 40px;
}

.hero_content button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #543ee8;
    position: relative;
    color:white;
}

.roundshape{
    width: 500px;
    height: 500px;
    border-radius:50%;
    position: relative;
    z-index: 0;
}


.arrow{
    display: flex;
    justify-content: center;
    background-color: white;
    color: #543ee8;
    border-radius: 50%;
    position:absolute;
    top: 10px;
    right:10px;
}

.arrow svg{
    width: 30px;
    height: 30px;
}

.image{
    position: relative;;
}
.roundshape{
    display:flex;
    width: 650px;
    height: 650px;
    border-radius:50%;
    position: absolute;
    background: linear-gradient(180deg, #fff 0%, #d7e1d8 100%);
    z-index: 1;
    top:98px;
    left:30px;
    overflow:hidden;
}

.image img{
    position: relative;
    z-index: 2;
}

/* Media Section */
.media_section{
    background: url(Task_3/section-bg-1.png);
}

.media_class{
    display:flex;
    padding-top:100px;
    padding-bottom:100px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 80px;
    position:relative;
}

.abstract-element{
    position: absolute;
    width: 150px;
    bottom:70px;
    right: 5px;
}

.main-image{
    width: 482px;
    height: 486px;
    border-radius: 10px 10px 90px 10px;
}

.media_image{
    position: relative;
}

.shapes{
    position: absolute;
}

.shape-7{
    width: 100px;
    height: 100px;
    top: 10px;
    left: -50px;
}

.shape-8{
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: -8px;
}

.media_class .enrollment_box{
    display: flex;
    position: absolute;
    align-items: center;
    gap: 30px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    bottom: 145px;
    left: 60px;
    color:rgb(232, 73, 73);
}



.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:rgb(247, 198, 198);
    width: 50px;
    height:50px;
}

.icon svg{
    color:red;
}
.enrollment_box svg{
    width: 30px;
    height: 30px;
}
.media_text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.media_text ul{
    list-style: none;
}

/* Course Header Button */


.media_container{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 50px 100px;
    gap: 50px;
    padding-bottom: 80px;
}

.course-header-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 515px;
}

.course-header-button button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #543ee8;
    position: relative;
    color:white;
}

.course-header{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.media_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 30px;
    
}
.media_card{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #edeaea;
    border-radius: 60px;

    padding: 20px 30px;
    gap: 25px;
    position:relative;
}

.media_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.card_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.business{
    background:#f6afea;
}
.marketing{
    background:#99e7d0;
}
.design{
    background:#feb98b;
}
.finance{
    background:#afb3eb;
}
.lifestyle{
    background:#e09cf2;
}
.cyber{
    background:#ebaaaa;
}
.development{
    background:#eea4ee;
}

.photography{
    background:#a3eaa3;
}   

/* Online Courses Section */
.online_courses_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.online_courses_grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px 30px;
    padding:10px 100px 10px 80px;
    margin-bottom: 80px;
}

.online_courses_card{
    display:flex;
    flex-direction: column;
    gap: 15px;
    border: none;
    border-radius: 20px;
    
    position: relative;
    overflow:hidden;
    
    background-color: #f6f6f6;

}

.course_image img{
    width: 100%;
    overflow:hidden;
}


.course_image button{
    padding: 10px;
    background-color: yellow;
    color: black;
    position: absolute;
    top: 15px;
    left: 5px;
    border:none;
    border-radius: 10px;
}


.course_info{
    display:flex;
    flex-direction: column;
    padding: 0px 30px 15px 30px;
    gap: 20px;
}

.course_icons{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.icon1, .icon2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;  
}

.icon1 svg, .icon2 svg {
    width: 20px;
    height: 20px;
}

.courses_rating{
    display: flex;
    align-items: center;
    gap: 10px;
}

.courses_rating ul{
    display: flex;
    gap: 5px;
    list-style: none;
}


.courses_rating ul li svg{
    width: 20px;
    height: 20px;
    color: #f5c518;
    border:none;
    fill: currentColor;
    stroke: currentColor;
}

.courses_rating p{
    color: grey;
}

.course_price{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid;
    padding-top: 10px;
    border-color: #c4c5c6;
}

.course_price h3{
    color: #543ee8;
}

.course_price p {
    display: flex;
    gap: 5px;
    align-items: center;
    color:grey;
}
.course_price p svg{
    width: 20px;
    height: 20px;
    
}

/* Why choose us */

.choose_us{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 141px;
    gap: 100px;
}

.shape-3{
    position: absolute;
    top: 200px;
    left: 0px;
}

.choose_text{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:25px;
    padding: 90px 100px 50px 10px;
}

.choose_text h1{
    font-size: 35px;
}
.choose_text p{
    color: grey;
}

.icon_text{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.icon_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.choose_image{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.choose_image .enrollment_box{
    display: flex;
    position: absolute;
    align-items: center;
    gap: 30px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    bottom: 40px;
    left: 60px;
    color:rgb(232, 73, 73);
}


.choose_image img{
    width: 586px;
    height: 586px;
    object-fit: contain;
}

.icon_box_1{
    background-color: #dcf3df;
}
.icon_box_2{
    background-color: #f9d6d6;
}

.new{
    position: absolute;
    bottom:30px;
    left: 30px;
}

.shape{
    position: absolute;
    top: 10px;
    left: 5px;
}

.shape img{
    width: 70px;
    height: 70px;
}

.alt-shape-7{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.alt-shape-7 img{
    width: 70px;
    height: 70px;
}

/* Info Box */
.sub-container{
    position: relative;
}


.info_container{
    display: flex;
    justify-content: center;
    padding: 10px 50px;
}


.info_box{
    display:flex;
    padding: 18px;
    background-color: #543ee8;
    gap: 50px;
    align-items: center;
    border-radius: 10px;
    margin-top: -190px;
    position: relative;
}

.info_image{
    display: flex;

    position: relative;
}

.info_image img{
    width: 554px;
    height: 316px;
    max-width: 554px;

    object-fit: cover;

    border-radius: 8px 8px 130px 8px;
}

.shape-12{
    position:absolute;
    top: 110px;
    right: -25px;
    
}

.shape-12 img{
    width: 40px;
    height: 40px;
}

.shape-11{
    position:absolute;
    bottom: -30px;
    right: -24px;
}

.shape-11 img{
    width: 40px;
    height: 40px;
}

.enrollment_grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:10px 40px 10px 40px;
}

.enrollment-card{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

/* Footer Section */
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px 70px;
    gap: 50px 70px;
    
}

.logo-text-social{
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.logo-text-social img{
    width:140px;
}
.logo-text-social p{
    color: gray;
}

.social-icon{
    display:flex;
    gap: 10px;
}

.social-icon img{
    width: 20px;
}

.links{
    display:flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    gap: 20px;
}

.links p{
    color: grey;
}



.footer_contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.svg-text{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.text{
    font-size: 16px;
    color: grey;
}

.number{
    font-size: 19px;
    color:black;
}


.subscription{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.email_button{
    position: relative;
    display:flex;
    flex-direction: column;
}

.email_button input{
    width: 400px;
    height: 50px;
    border-radius:30px;
    padding: 10px;
    border: 1px solid grey;
}

.email_button button{
    position: relative;
    border-radius: 40px;
    background-color: #543ee8;
    font-size: 15px;
    color: white;
    border:none;
    margin-top: 10px;
    padding: 15px 0px;
    width: 37%;
    
}

