/* BOILERPLATE CSS */

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(to top,#eeeddb,#d7d3c1,#bfbba7,#a7a38d,#8f8b73);
    line-height: 1.6;
}

.container{
    width: 1700px;
    margin:0 auto;
}

/* Header Section */

/* 1. Logo, Search, select, social media, signup, login */

/* Header Container */
.header_section{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    
    padding-left: 50px;
    padding-right: 50px;

    padding-top: 30px;
    padding-bottom: 30px;

    align-items: center;

}

.search_drop{
    display: flex;
    justify-content: space-between;
    
    background-color: #fff;
    gap: 10px;
    align-items: center;
    width:50vw;
    height: 6vh;
    border-radius: 40px;

    padding-left: 10px;
}

.dropdown{
    width:20%;
    display: flex;
    position: relative;
}


.options{
    display: flex;
    position: relative;
    
    
}


.options ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:41px;
    right:-9px;
    color: grey;
    list-style:none;
    background-color: #fff;
    padding: 3px;
    border-color:transparent;
    z-index: 2;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2.3;

    /* Animation */
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}


.options ul li:hover{
    background-color: #543ee8;
    transition: 0.3s;
    color: white;
}

.dropdown:hover .options ul{
    opacity:1;
    visibility: visible;
    transition: 0.3s;
}
.dropdown svg{
    color:black;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 4px;
    right:10px;
}



.dropdown:hover svg{
    transform: rotate(180deg);
    transition: 0.3s;
}

.dropdown p{
    color:black;
    padding-left:10px;
    height:100%;
    align-items: center;
}

.search{
    display: flex;
    position: relative;
    align-items: center;
    width: 80%;
    height: 80%;
    padding-right: 10px;
}

.search button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 105%;
    right: 3px;
    border-radius: 40px;
    width:20%;
    background-color: #543ee8;
    font-size: 15px;
    color: white;
    border: transparent;
}

.search:hover button{
    transition: 0.4s;
    background-color: black;
    color: white;
}
.search button svg{
    width: 15px;
    height: 15px;
    color: white;
}
.search #search_bar{
    width:95%;
    border: none;
    height:100%;
    border-left:2px solid grey;
    padding-left: 10px;
}

.social_register{
    display: flex;
    justify-content: center;
}

.social_register_login{
    display: flex;
    gap: 20px;
    width: 15%;
}

.social_register_login button{
    padding:15px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 15px;
    width: 70%;
    border: none;
}

.social_register_login button:hover{
    color:white;
    background-color: black;
    transition: 0.4s;
}

.register{
    background-color: #ffcd20;
}

.login{
    background-color: #fff;
}
/* Navbar Section */
.container_2{
    width: 1880px;
    margin:0 auto;
}

.navbar_main{
    display:flex;
    height:6vh;
    background-color: white;
    padding-left: 110px;
    padding-right: 110px;
    justify-content: space-between;
    margin-bottom:30px;
}

.navbar_main ul{
    display:flex;
    list-style:none;   
}

/* Hovering Anywhere Near the home keeps the content box open */
.navbar_main li:hover .content_box{
    opacity:1;
    visibility: visible;
}

.content_icon{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: black;
    align-items: center;
    gap: 10px;
    position: relative ;

}

.content_icon svg{
    width: 15px;
    height: 15px;    
}

.content_box{
    display: flex;
    flex-direction: column;
    color: black;
    position: absolute;
    border-top: 3px solid;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    justify-content: flex-start;

    top: 130%;
    left: 0;
    width: 135px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.content_icon:hover .content_box{
    opacity:1;
    visibility: visible;
    
}

.content_box p{
    padding: 5px;
    border-top: 1px solid;
    border-color: grey;
}

.content_box p:hover{
    background-color: #543ee8;
    color: white;
    transition: 0.3s;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.store_menu_icon{
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
}
.store_menu_icon svg{
    width: 20px;
    height: 20px;
}

/* Hero Section */
.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color:black;
    padding: 10px 50px 10px 50px;
    
}


.hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    width: 50%;
}
.hero_content h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.hero_content p{
    font-size: 20px;
    margin-bottom: 40px;
}

.hero_content button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #543ee8;
    position: relative;
    color:white;
}

.arrow{
    display: flex;
    justify-content: center;
    background-color: white;
    color: #543ee8;
    border-radius: 50%;
    position:absolute;
    top: 10px;
    right:10px;
}

.arrow svg{
    width: 30px;
    height: 30px;
}
